*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(to right, darkblue, blue, skyblue);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.clock{
    width: 300px;
    height: 300px;
    background: whitesmoke;
    box-shadow: 0 0 10px 3px white;
    border-radius: 50%;
    border: 20px solid black;
    position: relative;
}

.clock .number{
    /* --rotation:0; */
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: red; */
    text-align: center;
    transform: rotate(var(--rotation));
    font-size: 1.5rem;
    font-weight: bold;
}

span{
    display: inline-block;
}

.clock .number1{--rotation:30deg;}
.clock .number1 span{transform: rotate(-30deg);}
.clock .number011{--rotation:36deg;}
.clock .number012{--rotation:42deg;}
.clock .number013{--rotation:48deg;}
.clock .number014{--rotation:54deg;}
.clock .number2{--rotation:60deg;}
.clock .number2 span{transform: rotate(-60deg);}
.clock .number021{--rotation:66deg;}
.clock .number022{--rotation:72deg;}
.clock .number023{--rotation:78deg;}
.clock .number024{--rotation:84deg;}
.clock .number3{--rotation:90deg;}
.clock .number3 span{transform: rotate(-90deg);}
.clock .number031{--rotation:96deg;}
.clock .number032{--rotation:102deg;}
.clock .number033{--rotation:108deg;}
.clock .number034{--rotation:114deg;}
.clock .number4{--rotation:120deg;}
.clock .number4 span{transform: rotate(-120deg);}
.clock .number041{--rotation:126deg;}
.clock .number042{--rotation:132deg;}
.clock .number043{--rotation:138deg;}
.clock .number044{--rotation:144deg;}
.clock .number5{--rotation:150deg;}
.clock .number5 span{transform: rotate(-150deg);}
.clock .number051{--rotation:156deg;}
.clock .number052{--rotation:162deg;}
.clock .number053{--rotation:168deg;}
.clock .number054{--rotation:174deg;}
.clock .number6{--rotation:180deg;}
.clock .number6 span{transform: rotate(-180deg);}
.clock .number061{--rotation:186deg;}
.clock .number062{--rotation:192deg;}
.clock .number063{--rotation:198deg;}
.clock .number064{--rotation:204deg;}
.clock .number7{--rotation:210deg;}
.clock .number7 span{transform: rotate(-210deg);}
.clock .number071{--rotation:216deg;}
.clock .number072{--rotation:222deg;}
.clock .number073{--rotation:228deg;}
.clock .number074{--rotation:234deg;}
.clock .number8{--rotation:240deg;}
.clock .number8 span{transform: rotate(-240deg);}
.clock .number081{--rotation:246deg;}
.clock .number082{--rotation:252deg;}
.clock .number083{--rotation:258deg;}
.clock .number084{--rotation:264deg;}
.clock .number9{--rotation:270deg;}
.clock .number9 span{transform: rotate(-270deg);}
.clock .number091{--rotation:276deg;}
.clock .number092{--rotation:282deg;}
.clock .number093{--rotation:288deg;}
.clock .number094{--rotation:294deg;}
.clock .number10{--rotation:300deg;}
.clock .number10 span{transform: rotate(-300deg);}
.clock .number101{--rotation:306deg;}
.clock .number102{--rotation:312deg;}
.clock .number103{--rotation:318deg;}
.clock .number104{--rotation:324deg;}
.clock .number11{--rotation:330deg;}
.clock .number11 span{transform: rotate(-330deg);}
.clock .number111{--rotation:336deg;}
.clock .number112{--rotation:342deg;}
.clock .number113{--rotation:348deg;}
.clock .number114{--rotation:354deg;}
.clock .number12{--rotation:360deg;}
.clock .number12 span{transform: rotate(-360deg);}
.clock .number121{--rotation:6deg;}
.clock .number122{--rotation:12deg;}
.clock .number123{--rotation:18deg;}
.clock .number124{--rotation:24deg;}

.clock .hand{
    /* --rotation:0; */
    position: absolute;
    bottom: 50%;
    left: 50%;
    width: 10px;
    height: 50%;
    /* border: 1px solid white; */
    /* border-radius: 10px 10px 0 0; */
    z-index: 10;
    /* background-color: black; */
    transform-origin: bottom;
    /* transform: translateX(-50%) rotate(calc(var(--rotation)* 1deg)); */
}

.clock::after{
    content: '';
    position: absolute;
    background: black;
    z-index: 11;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
    border-radius:50%;
    transform: translate(-50%, -50%);
}

.numbers{
    padding: 10px;
}

/* .clock .hand.second{
    width: 3px;
    height: 45%;
    background-color: violet;
} */

.second::after{
    content: '';
    width: 3px;
    height: 150px;
    /* border-radius: 2px; */
    background-color: gold;
    position: absolute;
    left: calc(50% - 1px);
    bottom: -35px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    /* transform: translate(-50%, -50%); */
}

/* .clock .hand.minute{
    width: 7px;
    height: 35%;
    background-color: rgb(36, 35, 35);
} */

.minute::before{
    content: '';
    width: 6px;
    height: 120px;
    bottom: -25px;
    background-color: gold;
    position: absolute;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

/* .clock .hand.hour{
    width: 10px;
    height: 30%;
    background-color: black;
} */

.hour::after{
    content: '';
    background: gold;
    position: absolute;
    width: 9px;
    height: 90px;
    bottom: -15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    outline: none;
    border: none;
}

.second{
    transform: translateX(-50%) rotate(calc(var(--rotation)* 1deg));
}

.minute{
    transform: translateX(-50%) rotate(calc(var(--rotation)* 1deg));
}

.hour{
    transform: translateX(-50%) rotate(calc(var(--rotation)));
}